extends layout 
block content 

    h3 Login Page
    form(method="POST") 
        | Username: 
        |
        input(name="username")
        br
        |Password: 
        input(name="password", type="password")
        br
        br
        input(type="submit" value="Login")
    br
    br 
    br